body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{

width: 50vh;

}
#navbar ul{
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#navbar ul li{
    list-style: none;
    
}

@media only screen and (max-width: 576px) {
    #navbar ul{
        width: 100%;
    }
    
}